
.banner {
  background-color: #036;
  border-bottom: 2px solid #fcba19;
  box-shadow: 0 6px 8px -4px #b3b1b3;
}

.logo-container {
  display: flex;
  padding: 0 30px 0 30px;
}

.logo-container h1 {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  font-weight: normal; 
  font-size: 35px;
  margin: 5px 5px 0 18px;
}


.navbar-brand,
.nav-link,
a {
  color: #fff !important;
}

@media screen and (max-width: 600px) {
  .logo-container a {
    display: none;
  }
}
